version: "3.8"

services:
  overleaf:
    build: .
    container_name: overleaf
    restart: unless-stopped
    environment:
      - OVERLEAF_MONGO_URL=mongodb://mongo:ok5m15bnoe5nqn8u@thesis-mongo-ez1bil:27017/sharelatex?authSource=admin&replicaSet=rs0
      - OVERLEAF_REDIS_HOST=thesis-redis-zshcmj
      - OVERLEAF_REDIS_PORT=6379
      - OVERLEAF_REDIS_PASS=czwfh3pahsctrqjp
      - OVERLEAF_SITE_URL=https://thesis-dizon.app.dlsu-lscs.org/
      - OVERLEAF_BEHIND_PROXY=true
      - OVERLEAF_ALLOW_SHELL_ESCAPE=true
    volumes:
      - overleaf-data:/var/lib/overleaf

volumes:
  overleaf-data:
