version: "3.8"

services:
  overleaf:
    build: .
    container_name: overleaf
    restart: unless-stopped
    environment:
      - OVERLEAF_MONGO_URL=${OVERLEAF_MONGO_URL}
      - OVERLEAF_REDIS_HOST=${OVERLEAF_REDIS_HOST}
      - OVERLEAF_REDIS_PORT=${OVERLEAF_REDIS_PORT}
      - OVERLEAF_REDIS_PASS=${OVERLEAF_REDIS_PASS}

      - OVERLEAF_SITE_URL=${OVERLEAF_SITE_URL}
      - OVERLEAF_ADMIN_EMAIL=${OVERLEAF_ADMIN_EMAIL}
      - OVERLEAF_BEHIND_PROXY=true
      - OVERLEAF_ALLOW_SHELL_ESCAPE=true
    volumes:
      - overleaf-data:/var/lib/overleaf

volumes:
  overleaf-data:
