version: "3.8"

services:
  overleaf:
    build: .
    container_name: overleaf
    restart: unless-stopped
    environment:
      - SHARELATEX_MONGO_URL=${MONGO_URL}
      - SHARELATEX_REDIS_HOST=${REDIS_HOST}
      - SHARELATEX_REDIS_PORT=${REDIS_PORT}
      - SHARELATEX_REDIS_PASS=${REDIS_PASS}
      - REDIS_PASSWORD=${REDIS_PASS}
      - OVERLEAF_SITE_URL=${OVERLEAF_SITE_URL}
      - OVERLEAF_BEHIND_PROXY=true
      - OVERLEAF_ALLOW_SHELL_ESCAPE=true
    volumes:
      - overleaf-data:/var/lib/overleaf

volumes:
  overleaf-data:
